<h1>Your requests</h1>

<div id='requests_made'>
  <ul>  <% @requests_made.each do |request| %>
    <li>
      Name: <%= request.space.name %>
      Total cost: <%= (request.space.price) * (((request.date_from..request.date_to).to_a).length - 1)%>
      From: <%= request.date_from %>
      To: <%= request.date_to %>
    </li>
  <% end %>
  </ul>
</div>

<!--
<div id='requests_received'>
  <%= @requests_received %>
</div> -->
