<h1>Your requests</h1>

<div id='requests_made'>
  <h2>Requests I've made</h2>

  <ul>  <% @requests_made.each do |request| %>
    <li>
      Name: <%= request.space.name %></br>
      From: <%= request.date_from %></br>
      To: <%= request.date_to %></br>
      Total cost: <%= (request.space.price) * (((request.date_from..request.date_to).to_a).length - 1)%>
    </li>
  <% end %>
  </ul>
</div>

<div id='requests_received'>
   <h2>Requests I've received</h2>

   <ul>
     <% @requests_received.each do |request| %>
         <li>
           <%= request.space.name %></br>
           <%= request.date_from %></br>
           <%= request.date_to %></br>
           Total earnings: <%= (request.space.price) * (((request.date_from..request.date_to).to_a).length - 1)%>
           <form method="post" action="/requests/confirm/<%=request.id%>">
           <input type="submit" value="Confirm request" name="confirm_request">
           </form>
         </li>
     <% end %>
   </ul>
 </div>
