
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<h1>Take a look at <%= @space.name %>!</h1>

<h3>Price: £<%= @space.price %></h3></br>

<h3>Description:</h3></br>
<p><%= @space.description %></p>

<h3>Available From:</h3></br>
<%=@space.available_from %>
<h3>to</h3></br>
  <%=@space.available_to %>

<h3>Pick your dates!</h3>

  <form action="/requests" method="post">
    <div class="datepicker" id= "datepicker_from"></div>
      <input id='hidden_input1' type="hidden" name="date_from" value="">

    <div class="datepicker" id="datepicker_to"></div>
      <input id='hidden_input2' type="hidden" name="date_to" value="">

    <button type='submit' id="request_date" disabled="true">Request dates</button>
  </form>


<script src="/js/datepicker.js"></script>
